.admin-tracking-page-child,
.image-1-icon38 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.admin-tracking-page-child {
  background-color: var(--lightmain);
}
.image-1-icon38 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.minibackground38 {
  position: absolute;
  height: calc(100% - 24px);
  width: calc(100% - 35px);
  top: 24px;
  right: 18px;
  bottom: 0;
  left: 17px;
  opacity: 0.05;
}
.navigation-bar38 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--lightsecond);
  height: 70px;
}
.frame-child121 {
  width: 15.3px;
  height: 37.9px;
  mix-blend-mode: normal;
}
.frame-child121,
.frame-child122,
.shipping1 {
  position: relative;
}
.frame-child122 {
  width: 15.3px;
  height: 37.9px;
}
.tracking27 {
  position: relative;
  text-align: left;
}
.frame-child123,
.group-child119 {
  position: relative;
  border-radius: var(--br-3xs);
  width: 15.3px;
  height: 37.9px;
}
.group-child119 {
  position: absolute;
  top: calc(50% - 16px);
  left: 0;
  background-color: var(--fullblack);
  width: 98.9px;
  height: 32px;
}
.login41 {
  position: absolute;
  width: 65.12%;
  top: calc(50% - 12px);
  left: 17.19%;
  display: inline-block;
  height: 24.6px;
}
.rectangle-parent198 {
  position: relative;
  width: 98.9px;
  height: 32px;
  color: var(--lightsecond);
}
.vector-parent13 {
  position: absolute;
  top: calc(50% - 16.5px);
  right: 0;
  width: 644px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-11xl);
}
.cougarcourier1-4-icon38 {
  position: relative;
  border-radius: var(--br-3xs);
  width: 87px;
  height: 58px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.cougar-courier38 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 267px;
  height: 55px;
  flex-shrink: 0;
}
.cougarcourier1-4-parent35 {
  position: absolute;
  top: 6px;
  left: 0;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-base);
  cursor: pointer;
  font-size: var(--largetext-size);
  color: var(--fullblack);
}
.navigation-bar-light38 {
  position: absolute;
  width: calc(100% - 45px);
  top: 24px;
  right: 23px;
  left: 22px;
  border-radius: var(--br-3xs);
  background-color: var(--lightsecond);
  height: 70px;
  font-size: var(--minitext-size);
  color: var(--lighttext);
}
.frame-child125 {
  align-self: stretch;
  position: relative;
  width: 10px;
}
.welcome-to-your33 {
  position: absolute;
  top: 0.5px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 100px;
}
.welcome-to-your-portal-page-wrapper31 {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--lightmain);
  border: 5px solid var(--fullblack);
  box-sizing: border-box;
  width: 800px;
  height: 100px;
}
.rectangle-parent199 {
  width: 1050px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.button-258,
.button246,
.button247 {
  position: absolute;
  left: 0;
  width: 237px;
  height: 46px;
}
.button-258 {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button246,
.button247 {
  top: 106px;
}
.button247 {
  top: 20px;
  left: 2px;
  cursor: pointer;
}
.button3-child19 {
  position: absolute;
  top: 0.5px;
  left: calc(50% - 116.5px);
  border-radius: var(--br-3xs);
  background-color: var(--lightaccent);
  width: 227px;
  height: 44px;
}
.button321,
.button434,
.button59 {
  position: absolute;
  width: 237px;
  height: 46px;
  cursor: pointer;
}
.button321 {
  top: 192px;
  left: calc(50% - 116.5px);
}
.button434,
.button59 {
  top: 278px;
  left: 0;
}
.button59 {
  top: 364px;
}
.button6-item {
  position: absolute;
  top: 1px;
  left: 5px;
  border-radius: var(--br-3xs);
  background-color: var(--lightaccent);
  width: 227px;
  height: 44px;
}
.button61,
.button721 {
  position: absolute;
  top: 450px;
  left: 0;
  width: 237px;
  height: 46px;
  cursor: pointer;
}
.button721 {
  top: 536px;
}
.button2-parent19 {
  position: relative;
  width: 237px;
  height: 662px;
}
.frame-wrapper34,
.portal-page33 {
  border-radius: var(--br-mini);
  background-color: var(--lightmain);
  border: 5px solid var(--fullblack);
  box-sizing: border-box;
}
.frame-wrapper34 {
  align-self: stretch;
  width: 291px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-8xl);
}
.portal-page33 {
  position: relative;
  width: 900px;
  height: 700px;
}
.frame-parent90,
.frame-parent91 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent91 {
  height: 700px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-65xl);
  font-size: var(--largetext-size);
  color: var(--lightmain);
}
.frame-parent90 {
  position: absolute;
  width: calc(100% - 140px);
  top: 20px;
  right: 58px;
  left: 82px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16xl);
}
.admin-portal-outline9 {
  position: absolute;
  top: 149px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 875px;
}
.begin-tracking-here2 {
  margin: 0;
}
.easily-monitor-all2 {
  margin: 0;
  font-size: var(--minitext-size);
}
.begin-tracking-here-container5 {
  line-break: anywhere;
  width: 100%;
}
.begin-tracking-here-container4 {
  position: relative;
  display: flex;
  align-items: center;
  width: 361px;
  flex-shrink: 0;
  -webkit-text-stroke: 1px #ff360d;
}
.begin-tracking-here-easily-mon-wrapper {
  position: absolute;
  top: 49px;
  left: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.enter-your-cougar2 {
  position: absolute;
  top: 306px;
  left: 36px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--lightaccent);
  display: flex;
  align-items: center;
  width: 393px;
  height: 65px;
}
.cool-text-field5,
.text-field3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.text-field3 {
  border: 1px solid var(--lightaccent);
  background-color: var(--gray-8);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 475px;
  height: 56px;
  align-items: center;
  padding: var(--padding-mid) var(--padding-base);
}
.cool-text-field5 {
  position: absolute;
  top: 365.4px;
  left: 36px;
  width: 396px;
  height: 42.7px;
  align-items: flex-start;
}
.group-child120 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--lightaccent);
  width: 93px;
  height: 39.5px;
}
.track4 {
  position: absolute;
  top: 5px;
  left: calc(50% - 31.5px);
  font-size: var(--minitext-size);
  font-weight: 600;
  font-family: var(--largetext);
  color: var(--fullblack);
  text-align: center;
  display: inline-block;
  width: 63px;
  height: 30px;
}
.rectangle-parent200 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 445px;
  left: 36px;
  width: 93px;
  height: 39.5px;
}
.tracking-outline2 {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--lightmain);
  width: 566px;
  height: 514px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame94 {
  position: absolute;
  top: 429px;
  left: calc(50% - 177px);
  width: 566px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.vector-icon101 {
  position: absolute;
  top: 184px;
  left: calc(50% + 567px);
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.admin-tracking-page {
  position: relative;
  width: 100%;
  height: 1024px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--fullblack);
  font-family: var(--largetext);
}
