.admin-login-page-child {
	background-color: var(--lightmain);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.admin-login-page-child,
.image-1-icon23,
.minibackground23 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.image-1-icon23 {
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.minibackground23 {
	opacity: 0.05;
}
.main-shape1 {
	position: absolute;
	width: calc(100% - 248px);
	top: 44px;
	right: 133px;
	left: 115px;
	border-radius: var(--br-3xs);
	height: 386px;
	mix-blend-mode: color-burn;
}
.forgot-user-id1 {
	position: relative;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 439px;
	height: 34px;
	flex-shrink: 0;
	z-index: 0;
}
.frame-child59 {
	position: absolute;
	margin: 0 !important;
	width: calc(100% - 19px);
	top: 32px;
	right: 10px;
	left: 9px;
	border-top: 4px solid var(--lightaccent);
	box-sizing: border-box;
	height: 4px;
	z-index: 1;
}
.forgot-user-id-or-password-group {
	position: absolute;
	width: calc(100% - 456px);
	top: 496px;
	right: 237px;
	left: 219px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--gap-3xs);
	font-size: var(--font-size-5xl);
	color: var(--lightaccent);
}
.sign-up3 {
	position: relative;
	font-weight: 600;
}
.login-button {
	background-color: transparent;
	cursor: pointer;
	width: auto;
	height: auto;
	font-weight: 600;
}
.sign-up-container {
	position: absolute;
	width: calc(100% - 802px);
	top: 388px;
	right: 390px;
	left: 412px;
	background-color: var(--fullblack);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: var(--padding-11xs) var(--padding-6xs);
	cursor: pointer;
	font-size: var(--font-size-xl);
}
.login-container,
.sign-up-container,
.usernamebar1 {
	border-radius: var(--br-3xs);
	box-sizing: border-box;
}
.login-container {
	position: absolute;
	width: calc(100% - 749px);
	top: 288px;
	right: 363px;
	left: 386px;
	background-color: var(--fullblack);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: var(--padding-8xs) var(--padding-9xl);
	cursor: pointer;
}
.usernamebar1 {
	border: 1px solid var(--lightaccent);
	background-color: transparent;
	position: relative;
	width: 650px;
	height: 60px;
}
.usernamepasswordgroup1 {
	position: absolute;
	width: calc(100% - 245px);
	top: 122px;
	right: 111px;
	left: 134px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--gap-5xl);
}
.customer1 {
	position: relative;
}
.admin-container,
.customer-container {
	border-radius: var(--br-3xs);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: var(--padding-3xs);
}
.customer-container {
	background-color: var(--darktext);
	cursor: pointer;
}
.admin-container {
	background-color: var(--fullblack);
	color: var(--lightmain);
}
.frame-parent44 {
	position: absolute;
	top: 12px;
	left: calc(50% - 436.5px);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-117xl);
	color: var(--lighttext);
}
.login-light1 {
	position: absolute;
	top: 220px;
	left: calc(50% - 448px);
	border-radius: var(--br-3xs);
	background-color: var(--lightmain);
	border: 10px solid var(--lightaccent);
	box-sizing: border-box;
	width: 895px;
	height: 561px;
}
.group-child76,
.navigation-bar23 {
	position: absolute;
	left: 0;
	border-radius: var(--br-3xs);
}
.navigation-bar23 {
	width: 100%;
	top: 0;
	right: 0;
	background-color: var(--lightsecond);
	height: 70px;
}
.group-child76 {
	top: calc(50% - 16px);
	background-color: var(--fullblack);
	width: 98.9px;
	height: 32px;
}
.login25 {
	position: absolute;
	width: 65.12%;
	top: calc(50% - 12px);
	left: 17.19%;
	display: inline-block;
	height: 24.6px;
}
.rectangle-parent120 {
	position: relative;
	width: 98.9px;
	height: 32px;
}
.navigation-bar-light-inner22 {
	position: absolute;
	top: calc(50% - 16.5px);
	right: 0;
	width: 644px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 0 var(--padding-mini);
	box-sizing: border-box;
}
.cougarcourier1-4-icon23 {
	position: relative;
	border-radius: var(--br-3xs);
	width: 87px;
	height: 58px;
	object-fit: cover;
	mix-blend-mode: multiply;
}
.cougar-courier23 {
	position: relative;
	font-size: var(--largetext-size);
	display: flex;
	font-family: var(--largetext);
	color: var(--fullblack);
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 267px;
	height: 55px;
	flex-shrink: 0;
}
.cougarcourier1-4-parent20 {
	cursor: pointer;
	border: 0;
	padding: 0 var(--padding-mini);
	background-color: transparent;
	position: absolute;
	top: 6px;
	left: 0;
	width: 400px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	box-sizing: border-box;
	gap: var(--gap-base);
}
.navigation-bar-light23 {
	position: absolute;
	width: calc(100% - 5px);
	top: 13px;
	right: 2px;
	left: 3px;
	border-radius: var(--br-3xs);
	background-color: var(--lightsecond);
	height: 70px;
	font-size: var(--font-size-xl);
}
.login-page1 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.login-page-container {
	position: absolute;
	height: calc(100% - 24px);
	width: calc(100% - 40px);
	top: 24px;
	right: 20px;
	bottom: 0;
	left: 20px;
}
.admin-login-page {
	position: relative;
	width: 100%;
	height: 1024px;
	text-align: center;
	font-size: var(--largetext-size);
	color: var(--lightsecond);
	font-family: var(--largetext);
}
