/* Adding hover effect */
.generate-report-button:hover {
	background-color: var(--lightaccent); /* Darker shade for hover */
	color: white;
}

.employee-data-report {
	top: 5px;
	left: 5px;
	position: absolute;
	width: 880px;
	height: 570px;
}

.report-table,
.sum-table {
	position: relative;
	display: block;
	width: 880px;
	max-height: 600px;
	/*overflow-y: scroll;*/
	text-align: center;
	background-color: var(--lightsecond);
	font-size: var(--font-size-mid);
	font-family: var(--font-lexend);
}
.report-table th,
.report-table td,
.sum-table th,
.sum-table td {
	color: var(--fullblack);
	border: 1px solid #ddd;
	font-size: 12px; /* Adjust the font size here */
	padding: 12px;
	text-align: left;
	box-sizing: border-box;
	height: 54px;
}
.report-table th {
	top: 0px;
	width: calc(100% / 5);
	position: sticky;
	background-color: #f5f5f5;
	font-weight: bold;
	text-transform: uppercase;
}
.sum-table th {
	width: calc(100% / 9);
	bottom: 0px;
	position: sticky;
	background-color: #f5f5f5;
	font-weight: bold;
	text-transform: uppercase;
}

.table-container {
	width: 880px;
	height: 570px;
	overflow: scroll; /* enables scrolling */
}
.admin-products-page-child,
.image-1-icon21 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.admin-products-page-child {
	background-color: var(--lightmain);
}
.image-1-icon21 {
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.minibackground21 {
	position: absolute;
	height: calc(100% - 24px);
	width: calc(100% - 35px);
	top: 24px;
	right: 18px;
	bottom: 0;
	left: 17px;
	opacity: 0.05;
}
.group-child64,
.navigation-bar21 {
	position: absolute;
	left: 0;
	border-radius: var(--br-3xs);
}
.navigation-bar21 {
	width: 100%;
	top: 0;
	right: 0;
	background-color: var(--lightsecond);
	height: 70px;
}
.group-child64 {
	top: calc(50% - 16px);
	background-color: var(--fullblack);
	width: 98.9px;
	height: 32px;
}
.login22 {
	position: absolute;
	width: 65.12%;
	top: calc(50% - 12px);
	left: 17.19%;
	display: inline-block;
	height: 24.6px;
}
.rectangle-parent106 {
	position: relative;
	width: 98.9px;
	height: 32px;
}
.navigation-bar-light-inner20 {
	position: absolute;
	top: calc(50% - 16.5px);
	right: 0;
	width: 644px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 0 var(--padding-mini);
	box-sizing: border-box;
}
.cougarcourier1-4-icon21 {
	position: relative;
	border-radius: var(--br-3xs);
	width: 87px;
	height: 58px;
	object-fit: cover;
	mix-blend-mode: multiply;
}
.cougar-courier21 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 267px;
	height: 55px;
	flex-shrink: 0;
}
.cougarcourier1-4-parent18 {
	position: absolute;
	top: 6px;
	left: 0;
	width: 400px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0 var(--padding-mini);
	box-sizing: border-box;
	gap: var(--gap-base);
	cursor: pointer;
	font-size: var(--largetext-size);
	color: var(--fullblack);
}
.navigation-bar-light21 {
	position: absolute;
	width: calc(100% - 45px);
	top: 24px;
	right: 23px;
	left: 22px;
	border-radius: var(--br-3xs);
	background-color: var(--lightsecond);
	height: 70px;
}
.frame-child57 {
	align-self: stretch;
	position: relative;
	width: 10px;
}
.welcome-to-your18 {
	position: absolute;
	top: 0.5px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 800px;
	height: 100px;
}
.welcome-to-your-portal-page-wrapper16 {
	position: relative;
	border-radius: var(--br-mini);
	background-color: var(--lightmain);
	border: 5px solid var(--fullblack);
	box-sizing: border-box;
	width: 800px;
	height: 100px;
}
.rectangle-parent107 {
	width: 1050px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-11xl);
}
.button2-child28 {
	position: absolute;
	top: 1px;
	border-radius: var(--br-3xs);
	background-color: var(--lightaccent);
	width: 227px;
	height: 44px;
}
.button-230,
.button230 {
	position: absolute;
	left: 0;
	width: 237px;
	height: 46px;
}
.button-230 {
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button230 {
	top: 59px;
	cursor: pointer;
}
.button3-child16 {
	position: absolute;
	top: 0.5px;
	left: calc(50% - 116.5px);
	border-radius: var(--br-3xs);
	background-color: var(--lightaccent);
	width: 227px;
	height: 44px;
}
.button318 {
	position: absolute;
	top: 168px;

	width: 237px;
	height: 46px;
}
.button431,
.button56,
.button718 {
	position: absolute;
	top: 277px;
	left: 0;
	width: 237px;
	height: 46px;
	cursor: pointer;
}
.button56,
.button718 {
	top: 386px;
}
.button718 {
	top: 495px;
}
.button2-parent16 {
	position: relative;
	width: 237px;
	height: 662px;
}
.frame-wrapper19,
.portal-page18 {
	border-radius: var(--br-mini);
	background-color: var(--lightmain);
	border: 5px solid var(--fullblack);
	box-sizing: border-box;
}
.frame-wrapper19 {
	align-self: stretch;
	width: 291px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: var(--padding-lgi) var(--padding-8xl);
}
.portal-page18 {
	position: relative;
	width: 900px;
	height: 700px;
}
.frame-parent40,
.frame-parent41 {
	display: flex;
	justify-content: flex-start;
}
.frame-parent41 {
	height: 700px;
	flex-direction: row;
	align-items: center;
	gap: var(--gap-65xl);
	font-size: var(--largetext-size);
	color: var(--lightmain);
}
.frame-parent40 {
	position: absolute;
	width: calc(100% - 140px);
	top: 20px;
	right: 58px;
	left: 82px;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--gap-16xl);
}
.admin-portal-outline6 {
	position: absolute;
	top: 149px;
	left: calc(50% - 720px);
	width: 1440px;
	height: 875px;
	font-size: var(--font-size-29xl);
	color: var(--fullblack);
}
.group-child65 {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: var(--br-3xs);
	background-color: var(--lightmain);
	width: 98px;
	height: 32px;
}
.stock-1 {
	position: absolute;
	top: 5px;
	left: 3px;
	display: inline-block;
	width: 91px;
	height: 27px;
}
.rectangle-parent108 {
	position: absolute;
	top: 187px;
	left: 53px;
	width: 98px;
	height: 32px;
}
.rectangle-parent109,
.rectangle-parent110,
.rectangle-parent111 {
	position: absolute;
	top: 187px;
	left: 220px;
	width: 98px;
	height: 32px;
}
.rectangle-parent110,
.rectangle-parent111 {
	left: 387px;
}
.rectangle-parent111 {
	left: 554px;
}
.rectangle-parent112,
.rectangle-parent113 {
	position: absolute;
	top: 375px;
	left: 56px;
	width: 98px;
	height: 32px;
}
.rectangle-parent113 {
	left: 220px;
}
.rectangle-parent114,
.rectangle-parent115 {
	position: absolute;
	top: 373px;
	left: 383px;
	width: 98px;
	height: 32px;
}
.rectangle-parent115 {
	top: 371px;
	left: 553px;
}
.check-out-the1 {
	position: relative;
	font-size: var(--font-size-xl);
	font-weight: 600;
	color: var(--lightaccent);
	display: inline-block;
	width: 653px;
	height: 61px;
	flex-shrink: 0;
}
.vector-icon44 {
	position: absolute;
	height: 19.8%;
	width: 6.23%;
	top: 57.43%;
	right: 57.94%;
	bottom: 22.77%;
	left: 35.83%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.large-box2 {
	margin: 0;
}
.large-box-499-container1 {
	position: absolute;
	height: 12.87%;
	width: 20.87%;
	top: 19.31%;
	left: 80.37%;
	display: inline-block;
}
.vector-icon45,
.vector-icon46 {
	position: absolute;
	height: 24.75%;
	width: 7.79%;
	top: 52.48%;
	right: 32.09%;
	bottom: 22.77%;
	left: 60.12%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.vector-icon46 {
	height: 34.65%;
	width: 10.9%;
	top: 42.57%;
	right: 3.74%;
	left: 85.36%;
}
.envelope-1991,
.medium-box-399-container1,
.small-box-299-container1 {
	position: absolute;
	height: 6.93%;
	width: 14.95%;
	top: 19.31%;
	left: 31.46%;
	display: inline-block;
}
.envelope-1991,
.medium-box-399-container1 {
	left: 5.3%;
}
.medium-box-399-container1 {
	height: 12.87%;
	width: 20.87%;
	left: 53.58%;
}
.vector-icon47 {
	position: absolute;
	height: 34.65%;
	width: 10.9%;
	top: 52.48%;
	right: 80.22%;
	bottom: 12.87%;
	left: 8.88%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.vector-parent3 {
	position: relative;
	border-radius: var(--br-3xs);
	width: 642px;
	height: 202px;
	overflow: hidden;
	flex-shrink: 0;
}
.vector-icon48 {
	position: absolute;
	height: 36.46%;
	width: 10.9%;
	top: 39.58%;
	right: 56.39%;
	bottom: 23.96%;
	left: 32.71%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.pen-10pk-299-container1,
.stamp-booklet-999-container1,
.stapler-4991,
.tape-4991 {
	position: absolute;
	height: 8.91%;
	width: 16.29%;
	top: 2.08%;
	left: 3.43%;
	display: inline-block;
}
.pen-10pk-299-container1,
.stamp-booklet-999-container1,
.stapler-4991 {
	left: 30.06%;
}
.pen-10pk-299-container1,
.stamp-booklet-999-container1 {
	left: 56.7%;
}
.stamp-booklet-999-container1 {
	top: 0.52%;
	left: 83.33%;
}
.vector-icon49,
.vector-icon50,
.vector-icon51 {
	position: absolute;
	height: 36.46%;
	width: 10.9%;
	top: 39.58%;
	right: 80.37%;
	bottom: 23.96%;
	left: 8.72%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.vector-icon50,
.vector-icon51 {
	right: 29.75%;
	left: 59.35%;
}
.vector-icon51 {
	right: 3.12%;
	left: 85.98%;
}
.vector-parent4 {
	position: relative;
	border-radius: var(--br-3xs);
	width: 642px;
	height: 192px;
	overflow: hidden;
	flex-shrink: 0;
}
.products-outline1 {
	position: absolute;
	top: 39px;
	left: 0;
	width: 679px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--padding-55xl) var(--padding-smi);
	box-sizing: border-box;
	gap: var(--gap-smi);
	color: var(--fullblack);
}
.admin-products-outline {
	position: absolute;
	top: 324px;
	left: calc(50% - 153px);
	width: 679px;
	height: 661px;
	font-size: var(--font-size-sm);
	color: var(--lightaccent);
	font-family: var(--font-lexend);
}
.vector-icon52 {
	position: absolute;
	top: 184px;
	left: calc(50% + 567px);
	width: 70px;
	height: 70px;
	cursor: pointer;
}
.admin-products-page {
	position: relative;
	width: 100%;
	height: 1024px;
	text-align: center;
	font-size: var(--font-size-xl);
	color: var(--lightsecond);
	font-family: var(--largetext);
}
