.admin-history-page-child,
.image-1-icon94 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.admin-history-page-child {
  background-color: var(--lightmain);
}
.image-1-icon94 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.minibackground94 {
  position: absolute;
  height: calc(100% - 24px);
  width: calc(100% - 35px);
  top: 24px;
  right: 18px;
  bottom: 0;
  left: 17px;
  opacity: 0.05;
}
.navigation-bar6 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--lightsecond);
  height: 70px;
}
.frame-child40 {
  width: 15.3px;
  height: 37.9px;
  mix-blend-mode: normal;
}
.frame-child40,
.frame-child41,
.shipping6 {
  position: relative;
}
.frame-child41 {
  width: 15.3px;
  height: 37.9px;
}
.tracking6 {
  position: relative;
  text-align: left;
}
.frame-child42,
.group-child9 {
  position: relative;
  border-radius: var(--br-3xs);
  width: 15.3px;
  height: 37.9px;
}
.group-child9 {
  position: absolute;
  top: calc(50% - 16px);
  left: 0;
  background-color: var(--fullblack);
  width: 98.9px;
  height: 32px;
}
.login7 {
  position: absolute;
  width: 65.12%;
  top: calc(50% - 12px);
  left: 17.19%;
  display: inline-block;
  height: 24.6px;
}
.rectangle-parent20 {
  position: relative;
  width: 98.9px;
  height: 32px;
  color: var(--lightsecond);
}
.vector-parent5 {
  position: absolute;
  top: calc(50% - 16.5px);
  right: 0;
  width: 644px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-11xl);
}
.cougarcourier1-4-icon6 {
  position: relative;
  border-radius: var(--br-3xs);
  width: 87px;
  height: 58px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.cougar-courier6 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 267px;
  height: 55px;
  flex-shrink: 0;
}
.cougarcourier1-4-parent3 {
  position: absolute;
  top: 6px;
  left: 0;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-base);
  cursor: pointer;
  font-size: var(--largetext-size);
  color: var(--fullblack);
}
.navigation-bar-light6 {
  position: absolute;
  width: calc(100% - 45px);
  top: 24px;
  right: 23px;
  left: 22px;
  border-radius: var(--br-3xs);
  background-color: var(--lightsecond);
  height: 70px;
  color: var(--lighttext);
}
.frame-child44 {
  align-self: stretch;
  position: relative;
  width: 10px;
}
.welcome-to-your4 {
  position: absolute;
  top: 0.5px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 100px;
}
.welcome-to-your-portal-page-wrapper2 {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--lightmain);
  border: 5px solid var(--fullblack);
  box-sizing: border-box;
  width: 800px;
  height: 100px;
}
.rectangle-parent21 {
  width: 1050px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.button2-child6 {
  position: absolute;
  top: 1px;
  left: 5px;
  border-radius: var(--br-3xs);
  background-color: var(--lightaccent);
  width: 227px;
  height: 44px;
}
.button-28,
.button28,
.button29 {
  position: absolute;
  left: 0;
  width: 237px;
  height: 46px;
}
.button-28 {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button28,
.button29 {
  top: 106px;
  cursor: pointer;
}
.button29 {
  top: 20px;
  left: 2px;
}
.button3-child2,
.button34 {
  position: absolute;
  left: calc(50% - 116.5px);
}
.button3-child2 {
  top: 0.5px;
  border-radius: var(--br-3xs);
  background-color: var(--lightaccent);
  width: 227px;
  height: 44px;
}
.button34 {
  top: 192px;
  width: 237px;
  height: 46px;
  cursor: pointer;
}
.button44 {
  top: 278px;
  cursor: pointer;
}
.button44,
.button54,
.button64,
.button74 {
  position: absolute;
  left: 0;
  width: 237px;
  height: 46px;
}
.button54 {
  top: 364px;
  cursor: pointer;
}
.button64,
.button74 {
  top: 450px;
}
.button74 {
  top: 536px;
  cursor: pointer;
}
.button2-parent2 {
  position: relative;
  width: 237px;
  height: 662px;
}
.frame-wrapper5,
.portal-page4 {
  border-radius: var(--br-mini);
  background-color: var(--lightmain);
  border: 5px solid var(--fullblack);
  box-sizing: border-box;
}
.frame-wrapper5 {
  align-self: stretch;
  width: 291px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-8xl);
}
.portal-page4 {
  position: relative;
  width: 900px;
  height: 700px;
}
.frame-parent10,
.frame-parent9 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent10 {
  height: 700px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-65xl);
  font-size: var(--largetext-size);
  color: var(--lightmain);
}
.frame-parent9 {
  position: absolute;
  width: calc(100% - 140px);
  top: 20px;
  right: 58px;
  left: 82px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16xl);
}
.admin-portal-outline4 {
  position: absolute;
  top: 149px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 875px;
  font-size: var(--font-size-29xl);
}
.frame-child45 {
  position: relative;
  width: 20px;
  height: 55px;
}
.group-child10 {
  position: absolute;
  top: 0;
  left: calc(50% - 27.5px);
  width: 55px;
  height: 55px;
}
.vector-icon13 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 45px;
  height: 45px;
}
.rectangle-parent23 {
  position: relative;
  width: 55px;
  height: 55px;
}
.delivery-status,
.package-id {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.package-id {
  letter-spacing: -0.05em;
  font-weight: 500;
  width: 175px;
}
.delivery-status {
  font-size: var(--minitext-size);
  letter-spacing: 0.05em;
  font-family: var(--largetext);
  width: 246px;
  margin-top: -13px;
}
.package-id-parent,
.rectangle-parent22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.package-id-parent {
  height: 55px;
  flex-direction: column;
}
.rectangle-parent22 {
  margin: 0 !important;
  position: absolute;
  width: calc(100% - 509px);
  top: -1px;
  right: 509px;
  left: 0;
  flex-direction: row;
  gap: var(--gap-mini);
  z-index: 0;
}
.b8,
.date-of-delivery {
  position: relative;
  letter-spacing: -0.05em;
  display: flex;
  align-items: center;
  width: 127px;
}
.b8 {
  font-size: var(--minitext-size);
  letter-spacing: 0.05em;
  font-family: var(--largetext);
  text-align: center;
  justify-content: center;
  height: 25px;
  flex-shrink: 0;
}
.date-of-delivery-parent,
.frame-parent11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-parent11 {
  margin: 0 !important;
  position: absolute;
  width: calc(100% - 698px);
  top: 0.5px;
  right: 0;
  left: 698px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-mini);
  z-index: 1;
  text-align: right;
  font-size: var(--font-size-sm);
}
.history-component,
.history-component1,
.history-component2,
.history-component3,
.history-component4,
.history-component5,
.history-component6 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.history-component1,
.history-component2,
.history-component3,
.history-component4,
.history-component5,
.history-component6 {
  top: 93px;
}
.history-component2,
.history-component3,
.history-component4,
.history-component5,
.history-component6 {
  top: 186px;
}
.history-component3,
.history-component4,
.history-component5,
.history-component6 {
  top: 279px;
}
.history-component4,
.history-component5,
.history-component6 {
  top: 372px;
}
.history-component5,
.history-component6 {
  top: 465px;
}
.history-component6 {
  top: 558px;
}
.history-component-parent {
  position: absolute;
  top: 344px;
  left: calc(50% - 233px);
  width: 860px;
  height: 613px;
  text-align: left;
  font-size: var(--font-size-mid);
  font-family: var(--font-lexend);
}
.vector-icon20 {
  position: absolute;
  top: 184px;
  left: calc(50% + 557px);
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.admin-history-page {
  position: relative;
  width: 100%;
  height: 1024px;
  text-align: center;
  font-size: var(--minitext-size);
  color: var(--fullblack);
  font-family: var(--largetext);
}
