.image-1-icon1,
.location-1-overview-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.location-1-overview-child {
  background-color: var(--lightmain);
}
.image-1-icon1 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.minibackground1 {
  position: absolute;
  height: calc(100% - 24px);
  width: calc(100% - 35px);
  top: 24px;
  right: 18px;
  bottom: 0;
  left: 17px;
  opacity: 0.05;
}
.navigation-bar1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--lightsecond);
  height: 70px;
}
.frame-child1 {
  width: 15.3px;
  height: 37.9px;
  mix-blend-mode: normal;
}
.frame-child1,
.frame-child2,
.shipping1 {
  position: relative;
}
.frame-child2 {
  width: 15.3px;
  height: 37.9px;
}
.tracking1 {
  position: relative;
  text-align: left;
}
.frame-child3,
.group-item {
  position: relative;
  border-radius: var(--br-3xs);
  width: 15.3px;
  height: 37.9px;
}
.group-item {
  position: absolute;
  top: calc(50% - 16px);
  left: 0;
  background-color: var(--fullblack);
  width: 98.9px;
  height: 32px;
}
.login1 {
  position: absolute;
  width: 65.12%;
  top: calc(50% - 12px);
  left: 17.19%;
  display: inline-block;
  height: 24.6px;
}
.rectangle-group {
  position: relative;
  width: 98.9px;
  height: 32px;
  color: var(--lightsecond);
}
.vector-group {
  position: absolute;
  top: calc(50% - 16.5px);
  right: 0;
  width: 644px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-11xl);
}
.cougarcourier1-4-icon1 {
  position: relative;
  border-radius: var(--br-3xs);
  width: 87px;
  height: 58px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.cougar-courier1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 267px;
  height: 55px;
  flex-shrink: 0;
}
.cougarcourier1-4-group {
  position: absolute;
  top: 6px;
  left: 0;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-base);
  cursor: pointer;
  font-size: var(--largetext-size);
  color: var(--fullblack);
}
.navigation-bar-light1 {
  position: absolute;
  width: calc(100% - 45px);
  top: 24px;
  right: 23px;
  left: 22px;
  border-radius: var(--br-3xs);
  background-color: var(--lightsecond);
  height: 70px;
  font-size: var(--minitext-size);
  color: var(--lighttext);
}
.rectangle-div {
  align-self: stretch;
  position: relative;
  width: 10px;
}
.welcome-to-your {
  position: absolute;
  top: 0.5px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 100px;
}
.welcome-to-your-portal-page-wrapper {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--lightmain);
  border: 5px solid var(--fullblack);
  box-sizing: border-box;
  width: 800px;
  height: 100px;
}
.rectangle-container {
  width: 1050px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.button2-child {
  position: absolute;
  top: 1px;
  left: 5px;
  border-radius: var(--br-3xs);
  background-color: var(--lightaccent);
  width: 227px;
  height: 44px;
}
.button2,
.button21 {
  position: absolute;
  top: 106px;
  left: 0;
  width: 237px;
  height: 46px;
  cursor: pointer;
}
.button21 {
  top: 20px;
  left: 2px;
}
.button3-child {
  position: absolute;
  top: 0.5px;
  left: calc(50% - 116.5px);
  border-radius: var(--br-3xs);
  background-color: var(--lightaccent);
  width: 227px;
  height: 44px;
}
.button3,
.departments {
  position: absolute;
  width: 237px;
  height: 46px;
}
.button3 {
  top: 192px;
  left: calc(50% - 116.5px);
  cursor: pointer;
}
.departments {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button4,
.button5,
.button6,
.button7 {
  position: absolute;
  top: 278px;
  left: 0;
  width: 237px;
  height: 46px;
  cursor: pointer;
}
.button5,
.button6,
.button7 {
  top: 364px;
}
.button6,
.button7 {
  top: 450px;
}
.button7 {
  top: 536px;
}
.button2-parent {
  position: relative;
  width: 237px;
  height: 662px;
}
.frame-wrapper,
.portal-page {
  border-radius: var(--br-mini);
  background-color: var(--lightmain);
  border: 5px solid var(--fullblack);
  box-sizing: border-box;
}
.frame-wrapper {
  align-self: stretch;
  width: 291px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-8xl);
}
.portal-page {
  position: relative;
  width: 900px;
  height: 700px;
}
.frame-group,
.frame-parent {
  display: flex;
  justify-content: flex-start;
}
.frame-group {
  height: 700px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-65xl);
  font-size: var(--largetext-size);
  color: var(--lightmain);
}
.frame-parent {
  position: absolute;
  width: calc(100% - 140px);
  top: 20px;
  right: 58px;
  left: 82px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16xl);
}
.admin-portal-outline {
  position: absolute;
  top: 149px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 875px;
  font-size: var(--font-size-29xl);
}
.group-inner {
  position: absolute;
  top: 0;
  left: calc(50% - 351px);
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--lightaccent);
  box-sizing: border-box;
  width: 702px;
  height: 277px;
}
.of-employees {
  margin: 0;
}
.group-div,
.of-employees-container {
  position: absolute;
  width: 702px;
  height: 277px;
}
.of-employees-container {
  top: 0;
  left: calc(50% - 351px);
  display: inline-block;
}
.group-div {
  top: 687px;
  left: calc(50% - 164px);
  text-align: left;
  color: var(--lightaccent);
}
.vector-icon {
  position: absolute;
  top: 33px;
  left: calc(50% - 123.5px);
  width: 242px;
  height: 221px;
}
.group-child1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--lightsecond);
  border: 1px solid var(--lightaccent);
  box-sizing: border-box;
  height: 52px;
}
.location-1 {
  position: absolute;
  width: calc(100% - 37.6px);
  top: 10.4px;
  left: 18.5px;
  font-weight: 600;
  display: inline-block;
  height: 32.2px;
}
.rectangle-parent1 {
  position: absolute;
  width: calc(100% - 114px);
  top: 311px;
  right: 60px;
  left: 54px;
  height: 52px;
}
.vector-container {
  position: absolute;
  top: 298px;
  left: calc(50% + 46px);
  width: 281px;
  height: 389px;
  overflow: hidden;
}
.vector-icon1 {
  position: absolute;
  top: 167px;
  left: calc(50% + 567px);
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.location-1-overview {
  position: relative;
  width: 100%;
  height: 1024px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--fullblack);
  font-family: var(--largetext);
}
